@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --color-white:#ffffff;
    --color-black:#000000;
    --color-blanco-gris:#EEEEEF;
    --color-gris-light:#b2b2b2;
    --color-gris-claro-light:#A7A7A7;
    --color-gris-claro:#989898;
    --color-gris-dark:#808080;
    --color-gris-semiobscuro:#4D4D4D;
    --color-gris-dark:#333333;
    --color-oak-claro:#C8961B;
    --mask-images: radial-gradient(18px at 18px 18px,#0000 98%,#000) -18px -18px;
    --font-griffon: griffon, serif;
    --font-bebas-kai: bebas-kai, sans-serif;
    --font-broadsheet: broadsheet, serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

/* FONTS */
h1, h2, h3, h4{
    font-family: var(--font-griffon);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.navbar-nav > li > a, h5{
    font-family: var(--font-bebas-kai);
    font-weight: 400;
    font-style: normal;
}
a.btn_g{
    font-family: var(--font-broadsheet);
    font-weight: 400;
    font-style: italic;
}
h2.subTit{
    font-size: .9em;
    margin: 30px 0px;
    text-align: center;
}
.tit_general{
    font-size: 1.44em;
}
h2.tit_secundario{
    font-family: var(--font-broadsheet);
    font-weight: normal;
    font-style: italic;
    color: var(--color-black);
    font-size: 3.5em;
}
h1.tit_secundario_bn{
    font-family: var(--font-broadsheet);
    font-weight: normal;
    font-style: italic;
    color: var(--color-white);
    font-size: 5em;
}
.txt_general{
    font-family: var(--font-bebas-kai);
    font-size: 1.2rem;
    line-height: 1.4rem;
}


html, body{
    overflow-x: hidden;
}

body{
    
    font-size: 17px;
}
.mask{
    -webkit-mask: var(--mask-images);
       -moz-mask: var(--mask-images);
        -ms-mask: var(--mask-images);
         -o-mask: var(--mask-images);
            mask: var(--mask-images);
}

/* BTN */
.cont_btn{
    position:relative;
    text-align: center;
    margin-top: 30px;
}
.btn_g{
    padding: 12px 24px;
    font-size: 1em;
}
.btn_secundario{
    color: var(--color-black);
    transition: all 0.3s;
}
.btn_principal{
    color: var(--color-oak-claro);
    transition: all 0.3s;
}
.btn_principal img{
    transition: all 0.3s;
}
.btn_principal:hover{
    color: var(--color-oak-claro);
    background-color: #F4F4F4;
    text-decoration: none;
}
.btn_principal:hover img{
    transform: translateX(6px);
}
.btn_principal img{
    width: 50px;
}

    /* SECTION MARGEN */
#home_descrip, #home_seleccion, #home_newsletter, #home_certi, #banner_pago, #historia_m_organico, #nuestra_historia, #historia_frase{
    margin-top: 60px;
}
.mt20{
 margin-top: 20px;   
}
.mt40{
 margin-top: 40px;   
}
.mt60{
 margin-top: 60px;   
}
.mb20{
 margin-bottom: 20px;   
}
.mb40{
 margin-bottom: 40px;   
}
.mb60{
 margin-bottom: 60px;   
}

/* __HOME__ */

/* NAV PRINCIPAL INICIO BLANCO */
.logo_menu{
    width: 180px;
    height: 80px;
    background-image: url("../images/logotipo_menu_vector.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#menu_dark{
    padding: 24px 40px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    transition: all 0.3s;
    z-index: 2;
}
.menu_desktop_bn{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav-link{
    font-size: 1em;
    margin: 0px 32px;
}
.menu_desktop_bn .nav-link{
    color: var(--color-white);
}
    /* ITEM ACTIVO */
.navbar-nav > .active{
    position: relative;   
}
.navbar-nav > .active a{
    color: var(--color-oak-claro);
}
.navbar-nav > .active::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 46%;
    top: 42px;
    border-radius: 50%;
    background-color: #fff;

}
.navbar_social, .list_carrito{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}
.navbar_social a{
    padding: 8px;
}
.navbar_social a:nth-child(2){
    margin-left: 18px;
}
.vector_insta, .vector_face{
    fill: #fff;
}
.tool_carrito{
    position: absolute;
    font-family: var(--font-montserrat);
    width: 20px;
    height: 20px;
    font-size: 0.6em;
    background-color: var(--color-oak-claro);
    color: var(--color-white);
    border-radius: 50%;
    padding-top: 3px;
    text-align: center;
    right: 2px;
    margin-top: -8px;
}

    /* MENÚ MÓBIL */
.nav__toggle {
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}
    /* CHANGE BACKGROUND HEADER */
.scroll-header {
    padding: 12px 40px!important;
    background-color: var(--color-white);
    box-shadow: 0px 2px 16px rgba(0,0,0,0.3);
}
.scroll-header .vector_insta, .scroll-header .vector_face{
    fill: var(--color-black);
}
.scroll-header .nav-link{
    color: var(--color-black);
}
.scroll-header .vector_carrito{
    fill: var(--color-black);
}
.scroll-header .logo_menu{
    width: 140px;
    height: 62px;
    background-image: url("../images/Logotipo-el-rey-de-mazatlan-mezcal-artesanal-black.svg");
}
.scroll-header .navbar-nav > .active::before{
    background-color: #000;
}





.menu_desktop_bk{
    background-color: lightblue;
}


/* NAV PRINCIPAL NEGRO */
.menu_desktop_bk .nav-link{
    color: var(--color-black);
}

    /* BANNER IMAGENES */
.contain_banner{
    max-width: 1600px;   
    margin: 0 auto;
}
#banner_images > div.row{
    display: flex;
    justify-content: space-between;
}
.img_banner_sm{
    margin-top: 200px;
}

    /* SLIDER */
.slider-item01{
    background-image: url("../images/Slider-homepage-para-todo-mal-mezcal.jpg");
}
.slider-item02{
    background-image: url("../images/Slider-homepage-para-todo-mal-mezcal.jpg");
}
.tit_slider{
    font-family: var(--font-broadsheet);
    font-size: 7em;
    font-weight: normal;
    line-height: 1;
    font-style: italic;
}
.vector_oaxaca_slider{
    margin: 0 auto;
    margin-top: 40px;
    width: 140px;
}
.scroll_icon{
    margin-top: 60px;
}
.scroll_icon img{
    margin: 0 auto;
    width: auto!important;
    height: 120px;
}
.scroll_icon::before, .scroll_icon::after{
    position: absolute;
    color: #fff;
    font-family: var(--font-broadsheet);
    font-style: italic;
    letter-spacing: 6px;
    font-size: 1em;
    color: var(--color-oak-claro);
}
.scroll_icon::before{
    margin-top: 20px;
    left: 39%;
    content: "SCROLL";
}
.scroll_icon::after{
    margin-top: -100px;
    left: 53%;
    content: "DOWN";
}
.owl-prev span, .owl-next span{
    padding: 14px 12px 5px 12px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
}
    /* BANNER IMAGENES */
#banner_images{
    position: relative;
    margin-top: -20vh;
}
.back_pleca{
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 30vh;
}
.back_pleca img{
    position: absolute;
    bottom: 0;
    width: 100%;
}

    /* HOME DESCRIPCIÓN */
.img_pleca{
    position: relative;
    width: 30px;
    height: 30px;
}
#home_descrip .img_pleca{
    margin: 0 auto;
}
.img_pleca{
    background-image: url("../images/icono_divisor_pleca.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.cont_slogan{
    margin-top: 40px;
}
.cont_slogan div.col-md-2, .cont_slogan div.col-md-6{
    padding: 0;
}
.cont_border_img{
    padding: 24px 0px 24px 24px;
    text-align: center;
    border-top: 1px solid var(--color-black);   
    border-bottom: 1px solid var(--color-black);   
    border-right: 1px solid var(--color-black);   
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cont_border_img img{
    width: 80px;
}
.cont_border_txt{
    padding: 24px 24px 24px 24px;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* NUESTRA SELECCIÓN */
.cont_item_img{
    width: 210px;
    max-width: 210px;
}
.cont_item_img > img{
    width: 100%;
}

    /* CERTIFICADO */
#home_certi{
    position: relative;
}
#home_certi .row::before{
    position: absolute;
    bottom: 49%;
    content: "";
    margin-left: 1%;
    width: 94%;
    height: 1px;
    background-color: var(--color-black);
}
.cont_certi{
    z-index: 1;
}

    /* NEWSLETTER */
#home_newsletter{    
    text-align: center;
}
.cont_txt_news{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0px;
}
#input_news{
    padding: 6px 16px;
    width: 200px;
    font-family: var(--font-bebas-kai);
    color: var(--color-black);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-black);
}
#input_news:focus-visible{
    outline: none;
}
input[type=submit]{
    position: relative;
    right: 4px;
    background-color: var(--color-black);
    padding: 8px 32px;
    color: var(--color-white);
    border: none;
    font-family: var(--font-broadsheet);
    font-weight: normal;
    font-style: italic;
}

::-webkit-input-placeholder { /* Edge */
    color: var(--color-black);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-black);
}

::placeholder {
    color: var(--color-black);
}
    /* BANNER PAGO */
#banner_pago{
     background-image: url("../images/Pleca-negra-footer.svg");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: 101%;
}
.cont_banner_info{
    padding: 80px 0px 60px 0px;
    margin-left: 5%;
    width: 90%;
    background-image: url("../images/back-banner-pagos.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: var(--color-white);
}
.cont_banner_info p{
    margin-top: 20px;
    line-height: 1.2em;
}

/* __FOOTER */
footer{
    padding: 60px 0px;
    background-color: var(--color-black);
}
.menu_footer{
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu_footer li{
    margin: 0px 24px;
}
.menu_footer a.item_foot_menu{
    font-family: var(--font-bebas-kai);
    font-size: 1em;
    color: var(--color-gris-semiobscuro);
}
ul.menu_footer .active{
    color: var(--color-oak-claro);
}
.cont_social{
    margin-left: 25%;
    width: 50%;
    display: flex;
    padding: 20px 0px 14px 0px;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--color-gris-dark);
    border-bottom: 1px solid var(--color-gris-dark);
}
.social_pago, .social_media{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.social_pago li, .social_media li{
    margin: 0px 12px;
}
.item_social a img, .social_pago img{
    width: auto;
    height: 16px;
}
.legales{
    padding-top: 40px;
    font-family: var(--font-bebas-kai);
    color: var(--color-white);
}
.aviso_p{
    color: var(--color-white);
    margin-left: 24px;
}
.aviso_p:hover{
    color: var(--color-white);
}

/* __NUESTRA HISTORIA__ */
#encabezado_nuestra{
    position: relative;
}
.encabezado{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#encabezado_nuestra{
    background-image: url("../images/encabezado-back-nuestra-historia.jpg");
}

.encabezado .row img{
    margin-top: 40px;
}
.pleca_bn{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.img_front{
    position: absolute;
    right: 56px;
    top: calc(50% - 91px);
}
#historia_descrip{
    position: relative;
    top: -70px;
}
#historia_descrip .tit_general{
    margin: 24px 0px;
}
#historia_descrip .txt_general{
    max-width: 380px;
}
    /* MEZCAL ORGÁNICO */
.col_vector{
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
}
.col_vector, .col_tit, .col_txt{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col_tit, .col_txt{
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}
.col_tit{
    padding: 0px 50px;
}
.col_txt{
    padding: 20px 80px 0px 0px;
}
.col_vector img{
    height: 100px;
}
    /* NUESTRA HISTORIA */
#nuestra_historia .row:nth-child(2), #nuestra_historia .row:nth-child(3){
    margin: 60px 0px 0px 0px;
}

    /* FRASE */
#historia_frase{
    padding-bottom: 40px;
    background-image: url("../images/Pleca-negra-footer.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 101%;
}
#historia_frase .vector_maguey{
    width: 120px;
}
#historia_frase .row > div{
    height: 260px;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
#historia_frase .col-md-4{
    padding: 0px 60px 0px 0px;
    align-content: flex-end;
    border-top: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
}
#historia_frase .col-md-8{
    border-top: 1px solid var(--color-black);
    padding: 0px 0px 0px 60px;
}

/* __PRODUCTOS__ */
#encabezado_productos{
    background-image: url("../images/back-banner-productos.png");
}
#productos_filter{
    margin: 60px 0px 60px 0px;
}
    /* SEARCH */
.cont_buscador > div{
    padding: 0;
}
#input_search{
    position: relative;
    left: 6px;
    padding: 6px 16px;
    width: 200px;
    font-family: var(--font-bebas-kai);
    color: var(--color-black);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-black);
}
#input_search:focus-visible{
    outline: none;
}
button[type=submit]{
    position: relative;
    background-color: var(--color-black);
    padding: 8px 12px;
    color: var(--color-white);
    border: none;
    font-family: var(--font-broadsheet);
    font-weight: normal;
    font-style: italic;
}
    /* MENÚ IZQUIERDO */
.cont_iqz{
    padding-right: 0;    
}
.cont_productos_der{
    padding-left: 30px;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
.tit_menu_izq{
    padding: 20px;
    border-bottom: 1px solid #000000;
    margin-bottom: 0;
}
.list-group-item.active::after{
    position: absolute;
    margin-top: 6px;
    margin-left: 12px;
    content: "";
    width: 31px;
    height: 10px;
    background-image: url("../images/vector_flecha_productos.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
    /* PRODUCTO INDIVIDUAL */
.cont_list_product{
    margin: 24px 0px;
    padding: 22px 0px 12px 0px;
    border-bottom: 1px solid var(--color-black);
}
.cont_list_product .row{
    margin-top: 20px;
}
.cont_list_product .row .col-md-3{
    margin: 16px 0px;
}
.cont_p_indv{
    text-align: center;
}    
.nom_producto{
    margin: 12px 0px;
    font-family: var(--font-griffon);
    font-size: 0.9em;
}
.lista_ml_producto{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
}
.item_ml_producto{
    font-family: var(--font-bebas-kai);
    font-size: .8em;
    margin: 0 4px;
    color: var(--color-gris-claro);
}
.cont_p_indv .cont_btn{
    margin: 12px 0px;
}
.item_ml_producto:not(:last-child)::after{
    position: absolute;
    margin-left: 1px;
    content: "/";
}
.divisor_line{
    height: 4px;
}

/* __DETALLE PRODUCTO__ */


    /* BREADCRUMB */
.breadcrumb{
    padding-top: 26px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.breadcrumb li, .breadcrumb li a{
    font-family: var(--font-bebas-kai);    
    font-size: 1em;
    color: var(--color-gris-claro);
}
.breadcrumb li, .breadcrumb li a:hover{
    color: var(--color-black);
}
.breadcrumb li, .breadcrumb li.active{
    color: var(--color-black);
}
.icon_homepage img{
    margin-top: -2px;
    width: 18px;
    height: auto;
}
.line_up{
    background-color: #000000;
    margin-left: 5%;
    width: 90%;
    height: 1px;
}
.line_down{
    background-color: #000000;
    margin-left: 5%;
    width: 90%;
    height: 1px;
}
.row_product{
    margin: 48px 0px;
}
.cont_detalle_product{
    padding: 0px 48px;
}
#contenido_value{
    padding: 8px 48px;
}
#contenido_value{
    font-family: var(--font-bebas-kai);
}
.tit_product{
    font-size: 1.3em;
}
.descp_product{
    font-family: var(--font-bebas-kai);
    font-size: 1em;
}
/*.input-group{
    width: 130px;
    margin: 0 auto;
}*/
.tit_detalle_descrip{
    font-family: var(--font-griffon);
}
.form-control{
    border: none;
    text-align: center;
}
/*.input-group{
    border: 1px solid var(--color-black);
}*/
.item_precio{
    margin-top: 32px;
    font-family: var(--font-griffon);
    font-size: 1.3em;
}
.cont_btn_detalle{
    border-top: 1px solid var(--color-black);
}
.cont_btn_detalle .cont_btn{
    margin-top: 16px;
}
.cont_btn_detalle > div:nth-child(1){
    border-right: 1px solid var(--color-black);
}
.cont_contenido{
    padding: 24px 0px;
}
    /* PRODUCTOS RELACIONADOS */
.pleca_dividir_relacionados{
    margin-left: 5%;
    width: 90%;
    height: 1px;
    background-color: var(--color-black);
}
#productos_relacionados{
    padding: 80px 0px;
    background-image: url("../images/Pleca-negra-footer.svg");
    background-position: center bottom -10px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.cont_tit_page{
    padding: 20px 0px;
}
.cont_cout{
    width: 100px;
    padding: 4px 0px 4px 4px;
    margin: 0 auto;
    border: 1px solid var(--color-black);
}
.cont_cout .field{
    text-align: center;
    border: none;
    width: 40px;
}
.cont_cout .sub, .cont_cout .add{
    border: none;
    background-color: #fff;
}


/* __CARRITO DE COMPRAS__ */
#cont_carrito{
    padding: 60px 0px;
}

    /* TABLA CARRITO */
.fila_carrito img{
    border-radius: 4px;
}
.table thead th{
    font-family: var(--font-bebas-kai);
    color: var(--color-gris-light);
}
.table th{
    text-align: center;
}
.table td{
    vertical-align: middle;
    text-align: center;
}
.tit_carrito{
    font-family: var(--font-griffon);
}
.txt_carrito{
    font-family: var(--font-bebas-kai);
}
.cont_delet{
    padding: 8px 11px 12px 11px;
    border-radius: 50%;
    background-color: red;
}
.cont_delet img{
    width: 18px;
    height: auto;
}
.content_delivery{
    padding: 40px 0px 26px 0px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.content_delivery .col-md-2{
    text-align: center;
}
.icon_delivery{
    width: 40px;
}
.content_delivery .txt_general{
    margin-bottom: 0;
    font-size: 1.2em;
}
.cont_subtotal .d-flex{
    justify-content: flex-end;
}
.cont_subtotal h5, .cont_total h5{
    color: var(--color-gris-light);
    font-family: var(--font-bebas-kai);
    font-size: 1.2em;
    margin-right: 16px;

}
.cont_subtotal p{
    font-family: var(--font-griffon);
    font-weight: 600;
    font-size: 1em;
    margin-right: 30px;
}
.cont_total{
    padding: 20px 0px 40px 0px;

}
.cont_total .d-flex{
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
span.mx_span{
    font-family: var(--font-bebas-kai);
    color: var(--color-gris-light);
    margin-top: -12px;
    margin-left: 6px;
}
span.mx_span_cuenta{
    font-family: var(--font-bebas-kai);
    color: var(--color-gris-light);
    margin-top: 6px;
    margin-left: 6px;
}
.cont_botones_carrito{
    padding: 0px 0px 20px 0px;
    border-top: 1px solid var(--color-gris-light);
}
.cont_btn_secu_carrito .cont_btn{
    text-align: left;
}
.cont_btn_prin_carrito .cont_btn{
    text-align: right;
}

/* __INFORMACIÓN DE TU CUENTA__ */
    /* INFORMACIÓN DE LOS PASOS */
#info_step{ 
    padding: 40px 0px;

}
#info_step span{
    padding: 4px 13px;
    border-radius: 50%;
    background-color: var(--color-blanco-gris);
    color: var(--color-gris-claro-light);
    font-family: var(--font-montserrat);
}
#info_step .active span{
    background-color: var(--color-black);
    color: var(--color-blanco-gris);
}
#info_step h6{
    position: absolute;
    font-family: var(--font-bebas-kai);
    color: var(--color-gris-light);
    font-size: 1em;
    padding-top: 6px;
    left: 64%;
}
#info_step .active h6{
    color: var(--color-black);
}
#info_cuenta{
    padding: 60px 0px 80px 0px;
}
#form_cuenta p{
    font-family: var(--font-bebas-kai);
    color: var(--color-gris-dark);
    font-size: 1em;
    padding: 6px 0px 0px 12px;
}
#form_cuenta label{
    font-family: var(--font-griffon);
    font-size: .9em;
}
.fila_direccion_envio{
    margin-top: 22px;
}
#form_cuenta input{
    font-family: var(--font-bebas-kai);
    margin-bottom: 16px;
    padding: 6px 12px;
    width: 100%;
}
#form_cuenta input[type=submit]{
    margin-left: 4px;
}
#form_cuenta input::placeholder{
    font-family: var(--font-bebas-kai);
    font-size: 0.9em;
}
    /* LADO DERECHO */
.cont_producto_agregado{
    margin-left: 40px;
    margin-bottom: 32px;
}
.cont_producto_agregado h6{
    font-family: var(--font-griffon);
    font-size: 1em;
    font-weight: 600;
}
.cont_producto_agregado h6.tit_producto_agregado{
    padding-left: 12px;
    font-size: .8em;
}
.tooltip_img{
    position: absolute;
    right: -14px;
    top: -12px;
    border-radius: 50%;
    font-family: var(--font-montserrat);
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2px 12px;
}
.cont_subtotal_cuenta{
    padding: 32px 0px 10px 0px;
    border-top: 1px solid var(--color-black);
    margin-left: 56px;
}
.cont_subtotal_cuenta h5, .cont_total_cuenta h5{
    margin-left: 16px;
}
.cont_subtotal_cuenta h5, .cont_total h5, .cont_total_cuenta h5{
    color: var(--color-gris-light);
    font-family: var(--font-bebas-kai);
    font-weight: 400;
    font-size: 1.2em;
}
.cont_subtotal_cuenta p, .cont_total_cuenta p{
    font-family: var(--font-griffon);
    font-weight: 600;
    font-size: 1em;
}
p.precio_total{
    font-family: var(--font-griffon);
    font-size: 1.4em;
}
.cont_total_cuenta{
    padding: 32px 0px 10px 0px;
    border-top: 1px solid var(--color-black);
    margin-left: 56px;
}
#info_cuenta .cont_btn_detalle{
    margin-left: 46px;
    width: 105%;
}

/* __RESPONSIVE__ */

    /* Si < 991 */
@media only screen and (min-width:992px) {
    .menu_movil_bn{
        display: none;
    }

}
    /* Si < 991 */
@media only screen and (max-width:991px) {
    .menu_desktop_bn{
        display: none;
    }
    .menu_movil_bn{
        display: block;
    }
}



    /* MENÚ DERECHO */
/*.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 0.5rem;
    overflow: auto;
}*/